body {
          background: none;
          height: 100vh;
          margin: 0;
 }
body::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url('image/image.png');
          background-size: cover;
          background-position: center;
          opacity: 0.5; /* Ajuste cette valeur pour changer l'opacité */
          z-index: -100; /* Assure que l'image de fond est derrière tout le contenu */
}
.graph_hosp {
            width: 50%; /* Remplacez par la largeur souhaitée */
            height: 50%; /* Remplacez par la hauteur souhaitée */
            position: relative; /* Ou utilisez "relative" si vous préférez */
            top: 50%; /* Ajustez la position verticale */
            left: 50%px; /* Ajustez la position horizontale */
        }
